body {
  font-family: Outfit;
  background-image: url('bad1a14b-b21c-4e7e-a22b-2dd50b39819f.jpeg');
  background-size: cover; /* Ensures the image covers the entire body */
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
  width: 831px;
  height: 68px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 34px;
}

ul {
  list-style-type: none; /* Removes the bullet points from the list */
  padding-left: 0; /* Optional: Removes the default left padding */
  gap: 22px;
}

li {
  font-size: 22px;
  font-weight: bold;
  color: #545454;
}

li:hover {
  color: black;
  cursor: pointer;
}

.links {
  margin-right: 44px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  height: 25px;
  width: 25px;
  margin-left: 8px;
}

.contact {
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 40px;
  cursor: pointer;
  margin-right: 15px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}